@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "grid/grid12";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  // background: purple;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

#header {
  padding: 40px 0;

  .logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    display: inline-block;
  }

  .menu {
    display: inline-block;
    float: right;

    a {
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px 15px;
      display: inline-block;
      color: #000;

      &:hover {
        color: red;
      }
    }
  }
}

#content-area {
  .insider {
    max-width: 490px;
  }

  .model {
    height: 100%;
    float: left;
    // background: red;
    display: inline-block;
    text-align: center;

    img {
      max-width: 500px;
      width: 100%;
    }
  }

  .info {
    float: left;
    display: inline-block;

    h5 {
      display: inline-block;
      background: red;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      padding: 5px 8px;
    }

    h1 {
      font-size: 44px;
      font-weight: 700;
      color: #000;
      line-height: 1.3;
      margin: 24px 0;
    }

    p {
      font-weight: 100;
      line-height: 1.5;
      margin-bottom: 30px;
    }

    .size {
      margin-bottom: 30px;

      .title {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 15px;
      }

      .sizes {
        li {
          font-size: 12px;
          display: inline-block;
          border-radius: 50%;
          border: 1px solid #000;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;

          &.circle {
            height: 30px;
            width: 30px;
            padding: 10px 0;
          }

          &.semi-circle {
            height: 30px;
            padding: 10px 20px;
            border-radius: 30px;
          }
        }
      }
    }

    .action-btns {
      .red-hollow-btn {
        border: 2px solid red;
        display: inline-block;
        padding: 20px;
        color: red;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 1px;
        // min-width: 49%;
        .price {
          font-size: 24px;
          margin-right: 10px;
        }
      }

      .lightgrey-btn {
        background: #F5F5F7;
        display: inline-block;
        padding: 30px;
        color: #1b1b1b;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 1px;
        min-height: 30px;
        position: relative;
        // min-width: 49%;
      }
    }
  }
}
